<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/AppleTV/041-7275.20121128.qw234/AppleTV2,1_5.1.1_10A831_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_5.1.1_10A831_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Extract</string>
				<key>File</key>
				<string>evasi0n.tgz</string>
				<key>Name</key>
				<string>evasi0n.tgz</string>
				<key>Path</key>
				<string>/</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-6585-033.dmg</string>
			<key>IV</key>
			<string>9f23c76c9352ead1ae040ede2b7b503b</string>
			<key>Key</key>
			<string>f79071ebef1f9ae1d3d6d391fa781edb6508d6b9d1443b91bd561dd2ae9b5a21</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>aac3f3fd4cd55925c548eba979a619bc</string>
			<key>Key</key>
			<string>cedeac04955b09d43ded783bd5d6144cf22ecc0f3b896af15677af9a1b887b9d</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>173044c02240ae5fed473913383d1acd</string>
			<key>Key</key>
			<string>2aff0ec73e280224062d7478ae397731669c64261d0643b385acded2535e5931</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_5.1.1_10A831</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored_external.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-6603-033.dmg</string>
	<key>RootFilesystemKey</key>
	<string>d7fd5868fd5533b894658cef38852f3bf0bbacea6375e2f579a9e8bf92f34007a71dcc85</string>
	<key>RootFilesystemMountVolume</key>
	<string>SundanceTide10A831.K66OS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>1ff50161d8fb7d0a804aaea49f4b31d5690a3e4a</string>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
	<key>Untethered</key>
	<true/>
</dict>
</plist>
