<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iOS8/031-07202.20140917.tF6Fs/AppleTV2,1_6.2.1_11D258_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_6.2.1_11D258_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/AppleTV.app/AppleTV</string>
				<key>Name</key>
				<string>Seatbelt</string>
				<key>Patch</key>
				<string>AppleTV.patch</string>
			</dict>
		</array>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>dirhelper</string>
				<key>Name</key>
				<string>dirhelper</string>
				<key>Path</key>
				<string>usr/libexec/dirhelper</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4107-018.dmg</string>
			<key>IV</key>
			<string>2299f0ea176dd7248619ee7a78b408b8</string>
			<key>Key</key>
			<string>4d5d40f1479e140147c499b76959c930591a767ba6432a297d9d80af8847cdaa</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>ff21bbedb5da57f03bd1c24e25863026</string>
			<key>Key</key>
			<string>a56ae1d74fee02fb552068031cca77d95d1748a1a8412b1925ab3e17fee61167</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>ababa7f3a14477e6f8e283f7f3d40ae5</string>
			<key>Key</key>
			<string>3596970a06831def415dea3c0667ba7c483ccb6335026f55263bc18b2f7be5f7</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_6.2.1_11D258</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored_external.patch</string>
		</dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>058-07882-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>b44847af10511203757e8f79d521f09ac92e37fad33f32283bc0e87fd10b12209640b386</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D258.K66OS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>4724347f2700dfe82fb864ecc8cdf66ea33262b1</string>
	<key>Untethered</key>
	<false/>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
</dict>
</plist>
