<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>libgmalloc.dylib</string>
				<key>Name</key>
				<string>libgmalloc.dylib</string>
				<key>Path</key>
				<string>usr/lib/libgmalloc.dylib</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>pf2</string>
				<key>Name</key>
				<string>pf2</string>
				<key>Path</key>
				<string>usr/lib/pf2</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/Lowtide.app/Lowtide</string>
				<key>Name</key>
				<string>Seatbelt</string>
				<key>Patch</key>
				<string>Lowtide.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-8618-062.dmg</string>
			<key>IV</key>
			<string>5fe67aa4b1ad60114ed6c661f3e3fd64</string>
			<key>Key</key>
			<string>5fa15fe83e35b0a6ec1e4fccd70bced808037f42966425f7f6b499feae3772b8</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-8613-062.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>921a1405543996714f80d2fb1f8d0242</string>
			<key>Key</key>
			<string>e31d511699eb9564c7174932e595e75f08aaa11d392d9026f28fe60ede336fc2</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia-atv</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-8609-066.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>770</integer>
	<key>RootFilesystemKey</key>
	<string>31c700a852f1877c88efc05bc5c63e8c7f081c4cb28d024ed7f9b0dbc98c7e1406e499c6</string>
	<key>RootFilesystemMountVolume</key>
	<string>Mojave8M89.K66OS</string>
	<key>SHA1</key>
	<string>68647d6ce163fc20891ca5bcff647c8eecc2b8d9</string>
	<key>Filename</key>
	<string>AppleTV2,1_4.1_8M89_Restore.ipsw</string>
	<key>Name</key>
	<string>AppleTV2,1_4.1_8M89</string>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/AppleTV/061-8940.20100926.Tvtnz/AppleTV2,1_4.1_8M89_Restore.ipsw</string>
	<key>Platform</key>
	<integer>3</integer>
	<key>SubPlatform</key>
	<integer>10</integer>
	<key>Untethered</key>
	<true/>
</dict>
</plist>
