<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/AppleTV/041-0803.20120924.LOop5/AppleTV2,1_5.1_10A406e_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_5.1_10A406e_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Extract</string>
				<key>File</key>
				<string>evasi0n.tgz</string>
				<key>Name</key>
				<string>evasi0n.tgz</string>
				<key>Path</key>
				<string>/</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-6513-011.dmg</string>
			<key>IV</key>
			<string>a6aac3af81e234cadf46b56905eca484</string>
			<key>Key</key>
			<string>5513783229d943c744f7c15efdddc5431caf0e38eb5b2e35ba617ac053247710</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4c6dde5eabbbd39870c9a922513af94c</string>
			<key>Key</key>
			<string>ddf3fc5a6394ad7c5781d2c613bd54d0ee84f0b9c39a2c4ba857f7ef19bbd72a</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>03c4fb6ab4104c693bd52991cea35dea</string>
			<key>Key</key>
			<string>1b081d4ea8f29d4535726c4a5fbf284d77484f25fc145c446d7e9e8acffbcf7e</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_5.1_10A406e</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored_external.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-1170-323.dmg</string>
	<key>RootFilesystemKey</key>
	<string>18354ead5a9e133c5979be55211c73d45cbdd36d6bd959386e2010093256e454459587d3</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A406e.K66OS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>a3f8e3955f460786d88b879f10be69a9858f1688</string>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
	<key>Untethered</key>
	<true/>
</dict>
</plist>
