<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/AppleTV/041-0596.20110511.Zz7mC/AppleTV2,1_4.3_8F305_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_4.3_8F305_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>crunchd</string>
				<key>Name</key>
				<string>crunchd</string>
				<key>Path</key>
				<string>sbin/launchd</string>
				<key>MoreActions</key>
				<array>
					<dict>
						<key>Action</key>
						<string>SetPermission</string>
						<key>File</key>
						<string>sbin/launchd</string>
						<key>Permission</key>
						<string>755</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/AppleTV.app/AppleTV</string>
				<key>Name</key>
				<string>Seatbelt</string>
				<key>Patch</key>
				<string>AppleTV.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>17742baec33113889e5cbfcaa12fb4f0</string>
			<key>Key</key>
			<string>998bd521b5b54641fbeb3f73d9959bae126db0bc7e90b7ede7440d3951016010</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-0963-007.dmg</string>
			<key>IV</key>
			<string>d3a3b18903be2446fb2902783c258420</string>
			<key>Key</key>
			<string>8225502b126c0e0c3b65454bd0a9ebaef801b49ca3c0a2f3d27602115516ab14</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_4.3_8F305</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-0955-007.dmg</string>
	<key>RootFilesystemKey</key>
	<string>f607711d4db94bba7a4866f095aed082c8485bfbcd0f411f1e65158f585915edd5cfeec1</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8F305.K66OS</string>
	<key>RootFilesystemSize</key>
	<integer>1050</integer>
	<key>SHA1</key>
	<string>26551145dc4b72ccfbc313e24566cfb35437bd09</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Untethered</key>
	<true/>
</dict>
</plist>
