<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>AppleTV2,1_5.0_9B5127c_Restore</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3875-003.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>155a96d500ea72e299dcc67c01b51776</string>
			<key>Key</key>
			<string>1b705c0ff368ddfdf4c25b91327f4fed5fba0414d24ba216d5d1cd5e0844c05f</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1f914e7c42c7c3d124dc5c76e23aa021</string>
			<key>Key</key>
			<string>7e07a7fee6532393affac71a10e59675a166ace6436f18145174caea16f39455</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>kernelcache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>55b7a1282487728d12e39286670f400f</string>
			<key>Key</key>
			<string>29c67b3ecdef6a5db3c5ac4d99c7ce335e33d1d2e1982a7827b3bf9f2e4b31fe</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_5.0_9B5127c</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-3042-009.dmg</string>
	<key>RootFilesystemKey</key>
	<string>365ac018549add4c5f5f00ab73037deb10b1f63d72db582918a1f6f87ec74a3fb5a9641e</string>
	<key>RootFilesystemMountVolume</key>
	<string>HoodooVail9B5127c.K66DeveloperOS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>b9a45ef666d11be6344a189bbd588f940df6a3eb</string>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
</dict>
</plist>
