<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/AppleTV/091-5256.20130618.MagBg/AppleTV2,1_5.3_10B809_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_5.3_10B809_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Extract</string>
				<key>File</key>
				<string>p0sixspwn.tgz</string>
				<key>Name</key>
				<string>p0sixspwn.tgz</string>
				<key>Path</key>
				<string>/</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/AppleTV.app/AppleTV</string>
				<key>Name</key>
				<string>Seatbelt</string>
				<key>Patch</key>
				<string>AppleTV.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-5479-003.dmg</string>
			<key>IV</key>
			<string>bee7f2bc37b701853d030543d2c643e0</string>
			<key>Key</key>
			<string>cd71b0bd3ec86426f60576de00bfb28af0b7c059e897597f589558c29a49282d</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0b368a5454c74a91534dc9bab5218011</string>
			<key>Key</key>
			<string>6b0c7684585b96e04746589d44ce721c9ed50e4b7233642cf7d955047220f40d</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7f1d2e4cd0755e987f12695bae4a448d</string>
			<key>Key</key>
			<string>84f2b75874d2e086029f83c359f95eec0df675a217263be88e1cb3409bdbf058</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_5.3_10B809</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored_external.patch</string>
		</dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>048-5474-003.dmg</string>
	<key>RootFilesystemKey</key>
	<string>363c94645e9a481eb7911210fa9ff1d4eaec046ddf52428ec02e50b71be06e69cb25de62</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonTide10B809.K66OS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>6208f0518f3529aa290e4cbf2ea585e891ed61d3</string>
	<key>Untethered</key>
	<true/>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
</dict>
</plist>
