<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-1994-002.dmg</string>
			<key>IV</key>
			<string>4620cab31d75420e7dd87a64e2caf445</string>
			<key>Key</key>
			<string>b0a52615dd7bf87d112d529e76d5bda8ee498e0c66622843450b50fafb96340b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>815eae7b5d4ae56b71524f8525727216</string>
			<key>Key</key>
			<string>dd9097872e06b0723d5d4e28c3766cd04810da80422119629df5e5dc52d3081d</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8c4af45382657348c40dda5b43faf26b</string>
			<key>Key</key>
			<string>63fceec5d9429d1ab3185d8d1eeac1b1a8b0c916c721e825b211e789465f68ae</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
	    <string>org.saurik.cydia-atv</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-1997-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>700</integer>
	<key>RootFilesystemKey</key>
	<string>7bf1338a764b9e566982f86a95e597aae247cff3b55f30aeb7f61ec35a1f5b43e6d78773</string>
	<key>RootFilesystemMountVolume</key>
	<string>TellurideVail9A5248d.K66DeveloperOS</string>
	<key>SHA1</key>
	<string>667706ddec73886c8a1e1ff5bdd243a3727afa51</string>
	<key>Filename</key>
	<string>AppleTV2,1_4.4_9A5248d_Restore.ipsw</string>
	<key>Name</key>
	<string>AppleTV2,1_4.4_9A5248d</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>3</integer>
	<key>SubPlatform</key>
	<integer>10</integer>
</dict>
</plist>