<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/AppleTV/041-0895.20110728.TcF4T/AppleTV2,1_4.3_8F455_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_4.3_8F455_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>saffron.deb</string>
				<key>Name</key>
				<string>saffron.deb</string>
				<key>Path</key>
				<string>private/var/root/Media/Cydia/AutoInstall/saffron.deb</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Extract</string>
				<key>File</key>
				<string>saffron.tgz</string>
				<key>Name</key>
				<string>saffron.tgz</string>
				<key>Path</key>
				<string>/</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/AppleTV.app/AppleTV</string>
				<key>Name</key>
				<string>Seatbelt</string>
				<key>Patch</key>
				<string>AppleTV.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>17742baec33113889e5cbfcaa12fb4f0</string>
			<key>Key</key>
			<string>998bd521b5b54641fbeb3f73d9959bae126db0bc7e90b7ede7440d3951016010</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-1328-062.dmg</string>
			<key>IV</key>
			<string>7bf76ec1fdf382d70ea9581e223943f6</string>
			<key>Key</key>
			<string>f91256406327befe3c5c495abcef342fad14a28227a120e04139e1220814a31a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_4.3_8F455</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-1318-062.dmg</string>
	<key>RootFilesystemKey</key>
	<string>32c6a922fdc1a474371fcfcbf8b5bf4a87ce01b6e672c360405a0dd238ad693769f0ce77</string>
	<key>RootFilesystemMountVolume</key>
	<string>DurangoTideCuba8F455.K66OS</string>
	<key>RootFilesystemSize</key>
	<integer>1024</integer>
	<key>SHA1</key>
	<string>b6a2b0baae79daf95f75044c12946839c662d01d</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Untethered</key>
	<true/>
</dict>
</plist>
