<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>AppleTV2,1_5.0_9B5141a_Restore</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-4035-002.dmg</string>
			<key>IV</key>
			<string>7cd050bfc79e74c0c6fd13c091c866e8</string>
			<key>Key</key>
			<string>dcab7d11fee8132c1052d4dd5dd64ecdbaede7b4b728f2b096ababc8803a0bc2</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a7aadb39a514a443f8a74874440ebba6</string>
			<key>Key</key>
			<string>7bed610c194e551c2b7f94a872194361a25f50e0ec921c1a96a64b818b036fc3</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>07c3132dd24a08e385aa551757a45834</string>
			<key>Key</key>
			<string>8b8ff1452be316c16f368d4556c17dd125b1fc0b2c8f41d9be814666d2bb79a9</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>kernelcache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>f1d9dab35a2d1633ddc11116a004b40e</string>
			<key>Key</key>
			<string>bbf291eacafd2e7092caaae982af9a2e0592e3e24dfb13b0a12c530a4914fd14</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_5.0_9B5141a</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-4049-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>24f05868f813da35bfca0558c6dc9d6c8a889761bf0b21d3c0b72794efc9a4b3d8c79a1a</string>
	<key>RootFilesystemMountVolume</key>
	<string>HoodooVail9B5141a.K66DeveloperOS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>7a0dc7fc4cbeb715969c97b73ae0c14bb9a2a382</string>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
</dict>
</plist>
