<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/AppleTV/061-9621.20111012.Vgijx/AppleTV2,1_4.4_9A334v_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_4.4_9A334v_Restore</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/AppleTV.app/AppleTV</string>
				<key>Name</key>
				<string>Seatbelt</string>
				<key>Patch</key>
				<string>AppleTV.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-2779-021.dmg</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>502bc40bfc92f093114824ef604b6d69</string>
			<key>Key</key>
			<string>140a6f602c0cd2345fb9ff72437c569cbb84485d4c561c653ad77c61c3920073
</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fdb60523529674bcc466aaa3a43d5a16</string>
			<key>Key</key>
			<string>4323d03260a27f33ac1e129bce748209af5daf2a775e1944a2f0267a9dc18abc</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>kernelcache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>38f984d3619544ef796515f24487ea99</string>
			<key>Key</key>
			<string>4b6097400a3787c0ad5ba08eb364d6d6f07f070a46e8de8b89fea63d73c8ba4b</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_4.4_9A334v</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-7881-372.dmg</string>
	<key>RootFilesystemKey</key>
	<string>e04125691fea59da7bedc605667f459c78d243d1b4df4c6127d154dc84b3657902538aee</string>
	<key>RootFilesystemMountVolume</key>
	<string>Telluride9A334v.K66OS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>19ac03b22fc7eb2bad00a2eaa5cc79b16a121f46</string>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
	<key>Untethered</key>
	<false/>
</dict>
</plist>
