<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/AppleTV/041-2846.20111017.34NPe/AppleTV2,1_4.4.1_9A335a_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_4.4.1_9A335a_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/AppleTV.app/AppleTV</string>
				<key>Name</key>
				<string>Seatbelt</string>
				<key>Patch</key>
				<string>AppleTV.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3121-004.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7fc23d2153b98e672798fc61f0f3d968</string>
			<key>Key</key>
			<string>927357e9f22be77cf5040254b6935b9162a5dfeb133379b795d6020d7b3b1ab6
</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a62a9590eec7d0e60ef7bffa3721aa31</string>
			<key>Key</key>
			<string>3dddab1793f27151bf9748f730837b894e960165aeb6f26219f730b17d62a7b4</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>kernelcache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>ed44e5da38e8de68c72a6db44f116fe4</string>
			<key>Key</key>
			<string>e236aed1fb278506cc41990b2681e4273dac3e378be55b4da9c292250716e5d9</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_4.4.1_9A335a</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-3118-004.dmg</string>
	<key>RootFilesystemKey</key>
	<string>490e91667d6aa9cccc08b6d8e2aa0b354205426d9d00fd9e1b17bcfa3b8b34e5c2aa195a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Telluride9A335a.K66OS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>ea0c88db323454d6b9a52937e0ec61b010206b89</string>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
	<key>Untethered</key>
	<false/>
</dict>
</plist>
