<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/AppleTV/041-4362.20120605.t8i4U/AppleTV2,1_5.0.2_9B830_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_5.0.2_9B830_Restore</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Extract</string>
				<key>File</key>
				<string>rocky.tgz</string>
				<key>Name</key>
				<string>rocky.tgz</string>
				<key>Path</key>
				<string>/</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-4379-031.dmg</string>
			<key>IV</key>
			<string>2125250914722704700cc735cbe4a3ae</string>
			<key>Key</key>
			<string>9f0a7066672af338ae182f0e4885097e83331004fdbca9d3915fa043b781d935</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d12f8e04287683c4e2b67feb5fa6e308</string>
			<key>Key</key>
			<string>975cf31cc14d83389e8136f68f0c26303d7d1db4b197c5f0a3c12b152cde626f</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>67b821977559b8035887d46d68eb5b7b</string>
			<key>Key</key>
			<string>2f442e98254dde0a75ca8d35ea48644bce9efdeb34332e0ec730e848539acead</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_5.0.2_9B830</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-4405-031.dmg</string>
	<key>RootFilesystemKey</key>
	<string>edb697411e210af363ec602d27e73745e86b426c8f710d0b63efeb5e609072e7920c3846</string>
	<key>RootFilesystemMountVolume</key>
	<string>HoodooTide9B830.K66OS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>bdf2a296dc5fdc215e8d756b99d2a0984e814b86</string>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
</dict>
</plist>
