<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/AppleTV.app/AppleTV</string>
				<key>Name</key>
				<string>Seatbelt</string>
				<key>Patch</key>
				<string>AppleTV.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-2091-001.dmg</string>
			<key>IV</key>
			<string>66d733cbf68f8a222fef7d1902535c61</string>
			<key>Key</key>
			<string>1004ad25177fbcfeb3a5554d52497ab63ac87b96efd129b26f8da1bf397ba025</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>ce2e80b2460cd6019eab098c10eb5763</string>
			<key>Key</key>
			<string>7e434b8bc4f6d32fd676682a515eb08663d7b358656fe694467e3086e4353f4e</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>877ddcc47b1e5954944360dfaf3d1203</string>
			<key>Key</key>
			<string>dcf4076f2d2ecd2d82a3108ecd37e0ff4420ecccce308c9c8c0cd0a2cbb74073</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>kernelcache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>1ad69ecf9c6cb9b557e9b62f2050db67</string>
			<key>Key</key>
			<string>a444bc115f3c8b7aa121e7be55cfa0e5ea3831f0d05295a93a58a1e554a47ec6</string>
			<key>Patch</key>
			<string>kernelcache.release.k66.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia-atv</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-2105-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>700</integer>
	<key>RootFilesystemKey</key>
	<string>37c0ea663c670500c99424031e54a9d4d55e1156914a95ba54a62335c9e5f13d5c2cfe14</string>
	<key>RootFilesystemMountVolume</key>
	<string>TellurideVail9A5259f.K66DeveloperOS</string>
	<key>SHA1</key>
	<string>ec7ad6b20f6aed95e50c2d9689e5b800db0e192f</string>
	<key>Filename</key>
	<string>AppleTV2,1_4.4_9A5259f_Restore.ipsw</string>
	<key>Name</key>
	<string>AppleTV2,1_4.4_9A5259f</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>3</integer>
	<key>SubPlatform</key>
	<integer>10</integer>
</dict>
</plist>
